<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- META DATA -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->				

        <!-- TITLE OF SITE -->
        <title>iCamp</title>

        <!-- for title img 
                <link rel="shortcut icon"  type="image/icon"  href="assets/images/logo/favicon.png"/>
        -->

        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{{ asset('bundles/assets/fonts/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/assets/fonts/font-awesome/css/font-awesome.css') }}">

        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{{ asset('bundles/assets/bootstrap/css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/login.css') }}" type="text/css">

        <style>
         
        </style>

    </head>
    <body style="background-image: url('{{asset("bundles/assets/images/bg.png")}}');background-size: cover;">
        <div class="container indexPageContainer">
            <div class="row" >
                <div class="loginBoxLeft col-xs-12 col-sm-6" style="background-image: url('{{asset("bundles/assets/images/loginLeftBox2.png")}}');background-size: cover; ">
                    <img class="desktop-logo" src="{{ asset('bundles/assets/images/Logo.png') }}" height="100" style="">
                    <!-- icon red display none in desktop view-->
                    {#<img class="mobile-logo" src="{{ asset('assets/images/logo/LMSLogoRed.png') }}" height="100" width="" style="">
                    #}
                </div>
                <div class="loginBoxRight col-xs-12 col-sm-6" style="">
                    
                    <div id="" class="formContainer" style="">
                        <div class="" style="padding: 25px 0px">
                            <h5>Reset Your Password</h5>
                        </div>
                        {% if msg is defined%}
                            <div {% if msg != '' %}class="alert alert-warning"{%else%} class="alert" {%endif%} style="height: 30px;">
                            {% if msg is not null %}<p>{{msg}}</p>{% endif %}
                        </div>
                        {% endif %}
                        <form class="" id="formForgotPassword" name="frmLogin" method="post" action="{{path('_pms_save_reset_password')}}">
                            <div class="form-group">
                                <input type="hidden" name="ranStr" id="ranStr" value="" />
                                
                                <label for="txtuid">Username</label>
                                <input type="text" class="form-control textbox" placeholder="type here your username" name="txtuid" id="txtuid">
                                <div class="bar"></div>
                            </div>
                            <div class="form-group">
                                <label for="newpassword">New Password</label>
                                <input type="password" class="form-control textbox" placeholder="new password" name="newpassword" id="newpassword" onfocus="checkCaps(this,event);" required="required">
                                <span style="display: none;" id="caps-warning">Caps is on!<span class="bottomindicator"></span></span>
                                <div class="bar"></div>
                            </div>
                           <div class="form-group">
                                <label for="confpassword">Confirm Password</label>
                                <input type="password" class="form-control textbox" placeholder="confirm password" name="confpassword" id="confpassword" onfocus="checkCaps(this,event);" required="required">
                                <span style="display: none;" id="caps-warning">Caps is on!<span class="bottomindicator"></span></span>
                                <div class="bar"></div>
                            </div>
                            <div class="form-group">    
                                <input type="hidden" id="baseUrl" value=""/>
                                <input type="hidden" name="token" value="" />
                                <input type="hidden" name="resetpwd" id="resetpwd" value="Reset Password" />
                                <input type="button" class="btn btn-primary btnBlue" id="login" name="login" value="Proceed" onclick="fnCheckUserExist();">

                            </div>
                            <div class="form-group">  
                                <a id="forgetPwdLink" class="btn btn-primary btnBlue" href="{{path('login_homepage')}}">Cancel</a>
                            </div>

                        </form>
                    </div>
                </div> <!--right container end-->

            </div>     <!--row end -->           

        </div>  <!--indexcontainer end -->

        <!-- jquery link -->
        <script src="{{ asset('bundles/assets/js/jquery.min.js') }}"></script>         

        <!--bootstrap.min.js-->
        <script type="text/javascript" src="{{ asset('bundles/assets/bootstrap/js/bootstrap.min.js') }}"></script>
        {#        <script src="{{ asset('bundles/acmedemo/js/jquery.minv1.11.js') }}"></script>  #}
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/auth.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/common.js') }}"></script>
        <script>
            function fnCheckUserExist(){
                var username = $('#txtuid').val();
                var newpwd = $('#newpassword').val();
                var confpwd = $('#confpassword').val();
                if(username == ''){
                    $('.alert').addClass('alert-warning');
                    $('.alert').empty().append('Please enter username');
                    $('#txtuid').focus();
                     return false;
                } else if (newpwd == "") {
                    $('.alert').addClass('alert-warning');
                    $('.alert').empty().append('Please enter new password');
                    $('#newpassword').focus();
                    return false;
              } else if (confpwd == "") {
                  $('.alert').addClass('alert-warning');
                  $('.alert').empty().append('Please enter confirm password');
                  $('#newpassword').focus();
                  return false;
            } else {
                if(newpwd != confpwd){
                    $('.alert').addClass('alert-warning');
                    $('.alert').empty().append("Password doesn't match");
                    return false;
                }else{
                 $('.alert').removeClass('alert-warning');
                 $('.alert').empty();
             }
            }
            $( "#formForgotPassword" ).submit();
        }
        </script>    
    </body>

</html>